<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo List</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/assets/styles.css" type="text/css">
    <script src="/assets/todo-list.js"></script>
</head>
<body>
    <div>
        <form action="/todo">
            <input type="text" name="item" placeholder="Add a New ToDo" required />
            <button type="submit">ADD</button>
        </form>
    </div>
    <ul>
        <% todos.forEach((todo) => { %>
            <li><%= todo.item %></li>
        <% }) %>
    </ul>
</body>
</html>